<ion-side-menus>
                  
    <!-- Left menu -->
    <ion-side-menu side="left">
                    
        <ion-header-bar class="bar-positive">
            <img src="img/logo-franken.png" width="50" height="50" /><h1 class="title">Talks</h1>
        </ion-header-bar>
                    
        <ion-content padding="false" class="has-header">
            <ion-list>
                <ion-item
                    ng-repeat="talk in talks"
                    ng-click="selectTalk(talk, $index)" ng-class="{ active: activeTalk == talk }">
                    <b ng-bind="talk.start | date:'HH:mm'" class="item-note"></b>
                    <span ng-bind="talk.title">Talk Titel</span>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu> 
                     
    <!-- Center content -->
    <ion-pane ion-side-menu-content>
                    
                    
        <ion-header-bar class="bar-positive">
            <button class="button button-icon" menu-toggle="left">
                <i class="icon ion-navicon"></i>
            </button>
            <h1 class="title">Talk Details</h1>
        </ion-header-bar>

        <ion-content padding="true" class="has-header" scroll="false" >

            <h1 ng-bind="activeTalk.title">Talk Title</h1>

            <ion-list>
                            
                <ion-item class="item-thumbnail-left">
                    <img src="img/avatar-img.png" ng-src="{{activeTalk | imagePath}} " style="width: auto;">
                    <h2 ng-bind="activeTalk.speaker">Name</h2>
                    <p ng-bind="activeTalk.start | date: &quot;dd.MM.yyyy - HH:mm 'Uhr'&quot;">Uhrzeit</p>
                </ion-item>

                <ion-item class="item-body">

                    <p ng-bind="activeTalk.description">Beschreibung</p>
                                
                </ion-item>
            </ion-list>    

        </ion-content>
    </ion-pane>
</ion-side-menus>